:root{
    --brown:#0055a5;
    --purple: #a50055;
    --green: #55a500;
    /* --black:#2a2a2a; */
    --bg-color:#e5eef6;
    --black:#2d2f31;
    --white:#f2f2f2;
    --grey: #cacaca;
    --navHeight: 75px;
    --darkgrey: #9a9a9a;
}
body, html{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto Condensed','Microsoft JhengHei', sans-serif; */
    /* font-family: monospace, sans-serif; */
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    scroll-behavior: smooth;
    /* min-width: 320px;*/
    box-sizing: border-box;
}
* {
    color: var(--black);
}
.container{
    max-width:920px;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
}
*[data-lan]{
    /* text-transform: capitalize; */
}
h2, h1 {
    font-size: 2em;
}
h1, h2 {
    color: grey;
    font-size: 2.625em;
    line-height: 1.45em;
    /* font-weight: 700; */
    letter-spacing: -1.5px;
    /* margin-bottom: .1em; */
}

h2 {
    font-size: 2em;
    color: var(--black)
}

p, li, input, textarea {
    font-family: Lato,Helvetica,Arial,sans-serif;
    /* color: var(--darkgrey); */
    font-size: 1.15em;
    /* line-height: 1.7em; */
    padding: 8px 5px;
    margin: 3px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.button *:not(*[src*='svg']) {
    /* background: #313131; */
    background-color: var(--white);
    color: var(--darkgrey);
    border-width: 1px 1px 2px 1px;
    border-style: solid;
    /* border-color: #222; */
    border-color: var(--grey);
    border-radius: 3px;
    text-transform: uppercase;
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 25%);
    opacity: 1;
    position: relative;
    overflow: hidden;
    /* font-size: .75em; */
    align-self: start;
}

svg, *[src*="svg"], *[data*="svg"] {
    width: 1.2em;
}

img[src*='svg']:hover, svg {
    transform: rotate(365deg);
    transition: .37s;
    cursor: pointer;
}

.project-img:hover  {
    box-shadow: 0 0 10px 0 var(--red) inset, 0 0 10px 4px var(--red);
    color: var(--red) !important;
}

@keyframes shine {
    form {}
    to {
      box-shadow: 0 0 10px 0 var(--red) inset, 0 0 10px 4px var(--red);
      color: var(--red) !important;
    }
  }

/*navbar**************************************************************************************************************/
nav{
    background: var(--bg-color);
    position: fixed;
    width: 100%;
    z-index: 99;
    height: var(--navHeight);
    font-weight: 700;
    box-shadow: 0px 1px 10px #999;
}
nav * {
    text-transform: uppercase;
}
nav .container{
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    box-sizing: border-box;
}
nav .hamburger{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em;
}
nav .hamburger span {
    width: 20px;
    height: 2px;
    background: var(--brown);
    border-radius: 5px;
    transition: all .2s;
}
.navItem-container, .language-container{
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.hamburger.change span{
    background-color: #fff;
}

nav li{
    list-style-type: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    min-width: var(--navHeight);
    justify-content: center;
    padding: 0 1.7em;
}
nav li:hover{
    color: #fff;
   background-color:var(--brown); 
   /* border:2px solid grey; */
   transition: all .25s;
}

/*cover letter*******************************************************************************************************************************************************/
.pimg1{
    background-image: url(https://images.unsplash.com/photo-1425082661705-1834bfd09dca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=60);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section{
    padding: 30px 20px;
}
.home {
    height: calc(100vh - 76px);
}
.coverletter {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background: rgba(225, 225, 225, .65);
    padding-top: var(--navHeight);
    transition: .2s;
    box-sizing: border-box;
}
.coverletter:hover {
    background: var(--white)
}
.coverletter:active {
    background: rgba(225, 225, 225, .9);
}
.coverletter ul {
    padding: 0;
}
h2{
    text-align: center; 
}
.coverletter li {
    list-style: none;
    margin-bottom: .5rem;
    text-transform: capitalize;
}
.coverletter li:first-child {
    text-transform: uppercase;
}

/*skills*************************************************************************************/
h3{
    border-bottom: 3px solid var(--brown);
    padding:12px;
    margin-bottom: 15px;
    word-break: keep-all;
}
.skills {
    background: var(--bg-color)
}

.skill-list > ul{
    display: flex;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

.skills .description p {
    border-bottom: 3px solid var(--brown);
    padding: .5em;
    border-top: 3px solid var(--brown);
    text-transform: uppercase;
    text-align: center;
}

.skill-used {  
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin: .9em 0;
}

/*project***************************************************************************/
.projects .img-wrapper > img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.projects {
    background-color: #fff;
}
.projects h2 {
    color: var(--white);
}
.cards-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    row-gap: 1em
}

.card .title-bar {
    display: flex;
    align-items: center;
    margin: 0.15em;
    justify-content: center;
    position: relative;
}

.card .button-div {
    position: absolute;
    left: 0.15em;
    top: 50%;
    transform: translateY(-50%);
}

.card .top-div {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
    background-color: var(--white);
}

.img-wrapper {
    position: relative;
    padding-top: 55%;
    overflow: hidden;
}

.card {
    transition: 0.3s;
    display: flex;
    flex-direction: column;
}


.card .title {
    text-transform: uppercase;
    padding: unset;
    /* font-family: MontSerrat, Tahoma, Arial, sans-serif; */
    font-weight: 700;
    line-height: 1em;
    color: var(--darkgrey);
    /* margin: 0 auto; */
}

.overlay{
    position: absolute;
    background: rgba(0, 0, 0, .65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
}

.overlay a {
    margin: 0 auto;
    display: flex;
    padding: .5em;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay img {
    margin-right: .5em;
}

.overlay a:hover {
    box-shadow: 0;
    border-bottom-width: 0;
    margin-bottom: .2em;
    top: .2em
}

.card .top-div:hover .overlay{
    animation: slideDown .2s linear forwards;
}

@keyframes slideDown {
    0%{
        top: -100%;
    }
    100% {
        top: 0;
    }
}

.card:hover svg {
    animation: flash .9s linear infinite;
}

@keyframes flash {
    50% {
        fill: var(--brown);
    }
}

.button-div button{
    border: none;
}
i{
    padding:5px;
}
.clone {
    position: absolute !important;
    visibility: hidden;
}
#topBtn{
    background: var(--brown);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    width: var(--navHeight);
    height: var(--navHeight);
    opacity: 0.7;
    transition: all .2s;
    border-radius: 5px;
    display: none;
}
#topBtn:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border: .32em solid #fff;
    top: calc(50% + 5px);
    left: 50%;
    transform: translate(-50%, -51%) rotate(45deg);
    border-bottom: 0;
    border-right: 0;
}
#topBtn:hover {
    opacity: 1;
    background: var(--black);
}

/*contact from^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
.contact .container {
    display: flex;
}
.contact .left-div {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact form:hover {
    opacity: 1;
}
.contact input, .contact textarea {
    padding: 1.5%;
    width: 100%;
    border: none;
    box-sizing: border-box;
}
label {
    width: 100%;
}
textarea:hover, input:hover {
    background: var(--black);
    color: var(--white);
    transition: .5s;
}
.contact textarea{
    resize: vertical;
}

.submit-div {
    width: 100%;
    text-align: center;
}
.alert {
    width: 100%;
    width: 100%;
}
.alert-active {
    opacity: 1 !important;
}
.contact .alert > div {
    border-radius: 5px;
    background: #79c879;
    color: var(--white);
    text-align: center;
    transition: all 1.2s;
    font-weight: 900;
    width: 100%;
    padding: 1.5%;
    box-sizing: border-box;
    opacity: 0;
}
.contact .alert-ng{
    background-color: #c87979 !important;
} 

.contact h2 {
    margin: 0
}

.contact .check-number{
    display: inline-flex;
    align-items: center;
    color: var(--black);
    padding:0;
}
.icon-div {
    height: 3.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.icon-div span {
    display: none;
}

.icon-div img {
    width: 20px;
}
.icon-div img:hover {
    margin-bottom: 1rem;
}
.contact .icons{
    text-align: center;
    margin-bottom: 1rem;
}
.contact ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0
}
.contact li {
    color: var(--black);
    font-size: 12px;
    margin: 0;
    padding: 0 
}

/*others^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

@media only screen and (min-width: 500px){
    .contact img[src*="phone"], .contact img[src*="sms"]{
        display: none;
    }
}

@media only screen and (max-width: 900px){
    .language-container{
        justify-content: flex-end;
        width: 100%;
        z-index: 999;
        height: 100%;
    }
    .language-container li {
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .navItem-container{
        flex-direction: column;
        width: 100%;
        height: calc(100vh - var(--navHeight));
        order: 3;
        transition: .5s;
        margin-top: -300%;
        background: var(--grey);
    }
    .navItem-container li{
        background: var(--bg-color);
        width: 100%;
        display: flex;
        justify-content: center;
    }

    h3 {
        margin-top: 0;
    }
    .contact .container {
        display: unset;
    }
    .contact .container > * {
        width: unset;
    }
    .cards-div {
        grid-template-columns: 1fr;
    }
    .card {
        box-shadow: 0px 1px 10px #999;
    }
    .section:not(.contact) *[alt*="icon"] {
        width: 3em;
        margin: .5em;
    }
    .card .title-bar a{
        display: none;
    }
    .overlay a {
        width: 65%;
        padding: 1em;
    }
    .contact .left-div li {
        font-size: unset;
    }
    #topBtn {
        transform: scale(.6);
        right: 0;
        bottom: 0
    }
}


@media only screen and (max-width: 500px){

    .contact .alert > div {
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section:not(.coverletter) {
        padding-bottom: 11% !important;
    }

}

/*classList/////////////////////////////////////////////////////////////////////////////*/
.show{
    display:block;
    transition:5s all;
}
.drop-down {
    margin-top: 0;
}
.active{
   background:var(--brown) !important;
   color: #fff;
}
.change span:first-child {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
  }
.change span:nth-child(2) {opacity: 0;}
.change span:last-child {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
}

.submit {
    background: var(--brown);
    color: #fff;
}

  .contact img {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
  }
  .contact img:hover {
    transform: scale(1.2) !important;
    transition: .2s;
  }

/* iphone */
  input, button {
    outline: none;
    -webkit-appearance: none;/*remove safari default setting*/
    -moz-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    border-style: solid;
    }

.projects .description {
    display: none;
}


/* width */
::-webkit-scrollbar {
    width: 1.2em;
    margin: .5em;
    padding: .5em
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--darkgrey); 
    border-radius: 10px;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--brown); 
  }
